# Ignore virtual environment folder
venv/
env/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore VSCode settings
.vscode/

# Ignore environment variables and secret files
*.env

# Ignore compiled C extensions
*.so

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore SQLite database files
*.db

# Ignore log files
*.log

# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db
