body {
    --dot-bg: rgb(255, 252, 252);
    --dot-color: rgb(0, 0, 0);
    --dot-size: 1px;
    --dot-space: 22px;
      background:
          linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          var(--dot-color);
}

.charts {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
    align-items: center;
    padding: 20px;
  }
  
  .charts div {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1 1 400px; 
    max-width: 450px; 
  }
  
  canvas {
    max-width: 100%;
    height: auto; 
  }
  
  .chart-title {
  color: black;
  }

  /* From uiverse.io by - https://uiverse.io/TaniaDou/witty-rabbit-59 */
.button {
    padding: 0.7rem 1rem;
    border-radius: 2rem;
    border: none;
    font-size: 0.9rem;
    font-weight: 400;
    color: #f4f0ff;
    text-align: center;
    position: relative;
    cursor: pointer;
    text-decoration: none; 
    display: inline-block;
    transition: all 0.3s ease-in-out;
  }
  
  .button::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    background: linear-gradient(
        180deg,
        rgba(8, 77, 126, 0) 0%,
        rgba(17, 92, 146, 0.42) 100%
      ),
      rgba(83, 240, 188, 0.24);
    box-shadow: inset 0 0 12px rgba(151, 200, 255, 0.44);
    z-index: -1;
  }
  
  .button::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        180deg,
        rgba(8, 77, 126, 0) 0%,
        rgba(8, 77, 126, 0.42) 100%
      ),
      rgba(47, 255, 255, 0.24);
    box-shadow: inset 0 0 12px rgba(151, 200, 255, 0.44);
    border-radius: 0.5rem;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease-in;
  }
  
  .button:hover::after {
    opacity: 1;
  }
  
  .button-border {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    z-index: -1;
  }
  
  .button-border::before {
    content: "";
    position: absolute;
    border-radius: 0.5rem;
    padding: 1px;
    inset: 0;
    background: linear-gradient(
        180deg,
        rgba(184, 238, 255, 0.24) 0%,
        rgba(184, 238, 255, 0) 100%
      ),
      linear-gradient(0deg, rgba(184, 238, 255, 0.32), rgba(184, 238, 255, 0.32));
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    pointer-events: none;
}

.user-card .card a .card-title {
    color: rgb(0, 1, 53);
  }
  
  .user-card .card-body {
    color: rgb(0, 1, 53); 
  }
  
  .user-card .card-title {
    color: rgb(0, 1, 53); 
  }
  
  .user-card p {
    color: rgb(0, 1, 53); 
  }
  
  .user-card .card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .user-card .card::before {
    content: "";
    position: absolute;
    inset: -5px;
    background-color: #4158D0;
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(117,86,204,1) 0%, rgba(213,105,167,1) 90% );
    z-index: -1;
    filter: blur(30px);
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out, filter 0.3s ease-in-out;
  }
  
  .user-card .card:hover::before {
    opacity: 1;
    filter: blur(30px);
  }
  
  .user-card .card:hover {
    box-shadow: 0px 0px 20px rgba(255, 136, 0, 0.5);
    transform: translateY(-10px);
    cursor: default;
  }
